.container-halls {
    padding: 0 130px 0;
    max-width: 1440px;
    margin: 0 auto;
}

.halls {
    padding: 32px 0 100px;
}

.halls__title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

/* .halls__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.halls__items_80S {
    background-image: url("../image/80'S.png");
    background-size: cover;
    width: 100%;
    min-height: 349px;
}

.halls__items_star {
    background-image: url("../image/Star-Wars.png");
    background-size: cover;
    width: 100%;
    min-height: 349px;
}

.halls__items_west {
    background-image: url("../image/Wild-West.png");
    background-size: cover;
    width: 100%;
    min-height: 349px;
}

.halls__items_neon {
    background-image: url("../image/Neon.png");
    background-size: cover;
    width: 100%;
    min-height: 349px;
}

.halls__items {
    text-align: center;
    white-space: pre-line;
    display: grid;
    place-items: center;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    text-transform: uppercase;
} */



@media (max-width: 1300px) {
    .container-halls {
        padding: 0 60px 0;
    }
    .halls {
        padding: 20px 0 70px;
    }
}

@media (max-width: 1200px) {
    .halls__title {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 10px;
    }

    .halls__items_80S {
        min-height: 267px;
    }

    .halls__items_star {
        min-height: 267px;
    }

    .halls__items_west {
        min-height: 267px;
    }

    .halls__items_neon {
        min-height: 267px;
    }
}

@media (max-width: 910px) {
    .halls__items {
        font-size: 40px;
        line-height: 50px;
    }
    .container-halls {
        padding: 0 20px 0;
    }
    .halls {
        padding: 20px 0 40px;
    }
}

@media (max-width: 600px) {
    .halls__items {
        font-size: 26px;
        line-height: 34px;
    }
    .halls__title {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 10px;
    }

    .halls__items_80S {
        width: 280px;
        min-height: 168px;
    }

    .halls__items_star {
        width: 280px;
        min-height: 168px;
    }

    .halls__items_west {
        width: 280px;
        min-height: 168px;
    }

    .halls__items_neon {
        width: 280px;
        min-height: 168px;
    }
    .halls__list {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 20px;
        justify-items: center;
    }
}